body {
    /*background: url("./src/inicio/bannernovo.png");*/
    /*width: 100vw;*/

    /*background-size: auto max(890px,calc(100vw / 1.7));
    background-repeat: no-repeat;*/
    margin:0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:var(--cor_creme);

    font-family: 'chau';
    overflow-x: hidden;
}

.container{
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
}
.swiper-slide{
 /*   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    */
}
h2{
    color:var(--cor_marrom)
}
.categoria{
    width: 90%;
    overflow: hidden;
    margin-top: 2rem;
}
.swiper-slide img{
    width: 10rem;
}
.area_laranja{
    background-color: var(--cor_laranja2);
}