body{background-image: url("./src/inicio/bannernovo.png");

background-size: auto 110vh;
background-repeat: no-repeat;
display: flex;
flex-direction: row;
}


.dogbanner{
    justify-content: flex-end;
    position: absolute;
    width:11rem;
    margin-left: 60rem;
    margin-bottom: 2rem;
}

.banner{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-left: 7rem;
}

.produtosrecomendados1{
    justify-content: center;
    align-items: center;
    margin-top: 28rem;
}

.card{
justify-content: center;
align-items: center;
background-color: var(--cor_laranja);
padding: 1rem;
width: 20rem;}


.cardinfo{margin-top: 20rem;}

.visite{margin: 4rem;
justify-content: center;
}

.tele{margin-top: 1rem;
justify-content: flex-start;
margin-top: 8rem;
font-size: 2rem;}

.botao{
background-color: var(--cor_vermelho);
padding: 2rem;

}

.recomendados{display: flex;
justify-content: center;
align-items: center;
flex-direction: row;}

.recomendados img{height: 15rem;}
