body {
  background:
    url("./src/inicio/bannernovo.png"),
   linear-gradient(
  to bottom,
  var(--cor_creme) 0%,
  var(--cor_creme) 35%,
  var(--cor_laranja) 35%,
  var(--cor_laranja) 80%,
  var(--cor_marrom) 80%,
  var(--cor_marrom) 100%
);

  background-size: auto 110vh, 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem 1rem 43em 0rem;
  flex-wrap: wrap;
  transform: translateY(-4rem);
}

.container{
    width: 100%;
}

.dogbanner{
    display: block;
  margin-left: 92.6rem;
  margin-bottom: 5rem;
    width: 11rem;
    max-width: 100%;
    transform: translateX(-30rem);
    justify-content: flex-end;
    position: absolute;
}

.logo{width: 10rem;
display: inline;
margin-left: 47%;
margin-top: 3%;
transform: translateY(-10%);}


.logo{width: 30%;
justify-content: center;}

.banner{transform: translateX(-10%);}

.banner_coluna1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25rem;
    margin-bottom: rem;
     transform: translateX(-25%);
    
}

.banner_coluna1 h2{color: white;}


.carrossel {
  width: 90%;
  overflow: hidden;
}

.recomendados img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}



.produtosrecomendados1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    transform: translateY(15rem);
}

.recomendados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

#recomendadostxt{
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    background-color: var(--cor_marrom);
    border: 1px solid var(--cor_laranja);
    border-radius: 1rem;
    font-family: 'art nuevo';
    color: var(--cor_laranja);
    transform: translateY(10rem);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor_creme);
    padding: 20rem;
    padding-top: 1rem;
    padding-bottom: 10rem;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 10%;
    transform: translateY(35rem);
}

.card img{width: 35rem;
border: 2px solid var(--cor_marrom);
border-radius: 10%;}

.cardinfo{
    margin-top: 1rem;
    color: var(--cor_cafe);
    font-size: 2rem;
}

.visite{
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    background-color: var(--cor_marrom);
    border: 1px solid var(--cor_vermelho);
    border-radius: 1rem;
    font-family: 'art nuevo';
    position: relative;
    color: white;
    transform: translateY(25rem);
}

.tele{
    margin-top: 8rem;
    font-size: 3rem;
    font-family: 'art nuevo';
}

.botao{
    background-color: var(--cor_vermelho);
    padding: 1rem;
    font-size: 2rem;
    font-family: 'chau';
    color: white;
    border-radius: .5rem;
    border-width: 0rem;
    cursor: pointer;
}

.recomendados img{
    height: 15rem;
    max-width: 100%;
}

.sobrenos{font-family: 'art nuevo';
font-size:2rem;
padding-left: 2rem;
color: var(--cor_cafe);}

.sobre p{font-family: 'chau';
justify-content: center;
color: var(--cor_cafe);
}

.sobre{background-color: var(--cor_creme);
border: 10% solid var(--cor_laranja);
border-radius: 10px;
padding-left: 3%;
padding-bottom: 3%;
transform: translateY(45rem);
}

.avaliacaoclientes img{width: 45%;}

.avaliacaoclientes{
display: flex;
justify-content: space-evenly;
flex-direction: row;
gap: 2rem;
transform: translateY(45rem);}

.avaliacaoclientes1{background-color: var(--cor_creme);
border: 2px solid var(--cor_laranja);
border-radius: 10px;
padding-left: 2rem;
width: 25rem;
height: 20rem;
font-size: 1.5rem;
font-family: 'chau';
color: var(--cor_cafe);}

.avaliacaoclientes2{background-color: var(--cor_creme);
border: 2px solid var(--cor_laranja);
border-radius: 10px;
padding-left: 2rem;
width: 25rem;
height: 20rem;
font-size: 1.5rem;
font-family: 'chau';
color: var(--cor_cafe);}


.avaliacaoclientes3{background-color: var(--cor_creme);
border: 2px solid var(--cor_laranja);
border-radius: 10px;
padding-left: 2rem;
width: 25rem;
height: 20rem;
font-size: 1.5rem;
font-family: 'chau';
color: var(--cor_cafe);}