:root{
  --cor_amarelo:#F4AE52;
  --cor_laranja:#ff9900;
  --cor_laranja2:#FE7F2D;
  --cor_laranja3:#FFAE56;
  --cor_marrom:#4b3528;
  --cor_cafe: #201610;
  --cor_creme: #FDEB9E;
  --cor_vermelho:#e7121f;
  --cor_claro: #f1dabc;
  --cor_bege: #FFF2DB;
  font-size: 20px;
  margin:0px;
  padding:0px;
}

@font-face{
  font-family:'art nuevo';
  src: url(./src/FontsFree-Net-Art-nuvo.ttf) format('truetype');
}

@font-face{
  font-family:'chau';
  src: url(./src/ChauPhilomeneOne-Regular.ttf) format('truetype');
}

*,
*::before,
*::after{box-sizing: border-box;}


*{box-sizing: border-box;}

body{
  background-color:var(--cor_creme);
  overflow-x: hidden;
}
