body{margin: 2px;
padding: 2px;
background-image: url(./banner1.png);
background-repeat:no-repeat ;
background-size: 100vw 50%;}

nav{text-align: center;}



.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.dog{
    align-self: flex-end;
}

h2{align-self: self-start;}

.recomendados{margin-top: 60%;}